<section class="bg-gray-50 p px-4">
    <h1 class="text-lg sm:text-xl lg:text-2xl font-semibold text-gray-800">
        Overview
    </h1>
    <app-admin-dashboard-overview></app-admin-dashboard-overview>
</section>

<section class="w-full flex flex-col lg:flex-row gap-4 px-4">
    <!-- Left Column -->
    <div class="flex flex-col gap-4 w-full lg:w-1/2">
        <!-- Subscription Pie Chart -->
        <div class="bg-white p-4 shadow rounded min-h-[300px]">
            <app-admin-subscription-pie-chart></app-admin-subscription-pie-chart>
        </div>

        <!-- User Tracking Bar Chart -->
        <div class="bg-white p-4 shadow rounded min-h-[620px]">
            <app-admin-dashboard-revenue-chart></app-admin-dashboard-revenue-chart>

        </div>
    </div>

    <!-- Right Column -->
    <div class="w-full lg:w-1/2">
        <div class="bg-white p-4 shadow rounded min-h-[950px] h-full">
            <app-admin-user-tracking-bar-chart></app-admin-user-tracking-bar-chart>
        </div>
    </div>
</section>

<!-- Top Providers -->
<section class="p-4">
    <div class="bg-white p-4 shadow rounded min-h-[500px]">
        <app-admin-top-earning-providers-bar-chart></app-admin-top-earning-providers-bar-chart>
    </div>
</section>