<section class="bg-gray-50 py-8 px-4">
    <h1 class="text-lg sm:text-xl lg:text-3xl font-semibold text-gray-800 mb-6">
        Dashboard Overview
    </h1>
    <app-admin-dashboard-overview></app-admin-dashboard-overview>
</section>

<section class="w-full flex flex-col md:flex-row gap-4">
    <!-- Left Column: Two stacked charts -->
    <div class="w-full md:w-1/2 flex flex-col gap-4">
        <div class="bg-white p-4 shadow rounded min-h-[300px]">
            <app-admin-subscription-pie-chart></app-admin-subscription-pie-chart>
        </div>
        <div class="bg-white p-4 shadow rounded min-h-[300px]">
            <!-- Placeholder for another chart or stats -->
            <!-- <app-another-chart></app-another-chart> -->
        </div>
    </div>

    <!-- Right Column: Bar Chart -->
    <div class="w-full md:w-1/2 bg-white p-4 shadow rounded min-h-[620px]">
        <app-admin-user-tracking-bar-chart></app-admin-user-tracking-bar-chart>
    </div>
</section>



<section>
    <app-admin-dashboard-revenue-chart></app-admin-dashboard-revenue-chart>
</section>