<div class="flex h-screen font-sans">
    <!-- Sidebar -->
    <app-provider-sidebar class="w-64 border-r bg-white shrink-0"></app-provider-sidebar>

    <!-- Main Content -->
    <section class="flex flex-col flex-1 bg-gray-50 overflow-hidden">
        <!-- Header -->
        <div class="sticky top-3 mx-3 z-20 bg-white border-b">
            <app-provider-header></app-provider-header>
        </div>

        <!-- Scrollable Content -->
        <div class="flex-1 overflow-auto p-4 no-scrollbar">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>