<div class="p-6 space-y-6">
  <!-- Wallet Balance -->
  <div class="bg-white shadow-md rounded-2xl p-6 max-w-md mx-auto text-center">
    <h2 class="text-lg font-medium text-gray-600">Wallet Balance</h2>

    <ng-container *ngIf="wallet(); else walletNotFound">
      <p class="text-4xl font-bold text-indigo-600 mt-3">₹ {{ wallet()| number:'1.2-2' }}</p>
      <p class="text-sm text-gray-400 mt-1">Available Balance</p>
    </ng-container>

    <ng-template #walletNotFound>
      <span class="text-sm text-gray-500 italic">Sorry, unable to view balance</span>
    </ng-template>
  </div>

  <!-- Recent Transactions -->
  <div class="bg-white p-6 rounded-xl shadow-sm">

    <div class="flex justify-between items-center mb-2">
      <h3 class="text-lg font-semibold text-gray-700">Recent Transactions</h3>
    </div>

    <!-- Filters -->
    <div class="flex justify-end w-full mb-5">
      <div class="flex flex-wrap items-center gap-3">
        <input [ngModel]="filters().search" (ngModelChange)="onSearch($event)" type="text"
          placeholder="Search transactions..."
          class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring focus:ring-blue-200" />

        <select [ngModel]="filters().sort" (ngModelChange)="updateFilter('sort', $event)"
          class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring focus:ring-blue-200">
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
          <option value="high">High</option>
          <option value="low">Low</option>
        </select>

        <select [ngModel]="filters().type" (ngModelChange)="updateFilter('type', $event)"
          class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring focus:ring-blue-200">
          <option value="all">All Types</option>
          <option value="booking">Booking</option>
          <option value="refund">Refund</option>
          <option value="subscription">Subscription</option>
        </select>

        <select [ngModel]="filters().method" (ngModelChange)="updateFilter('method', $event)"
          class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring focus:ring-blue-200">
          <option value="all">All Methods</option>
          <option value="credit">Credit</option>
          <option value="debit">Debit</option>
        </select>

        <select [ngModel]="filters().date" (ngModelChange)="updateFilter('date', $event)"
          class="border rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring focus:ring-blue-200">
          <option value="all">All Time</option>
          <option value="last_six_months">Last Six Months</option>
          <option value="last_year">Last Year</option>
        </select>
      </div>
    </div>

    <!-- Transaction List -->
    <div class="space-y-4">

      <ng-container *ngIf="transactions().length > 0; else noTransactions">

        <div *ngFor="let t of transactions()"
          class="flex justify-between items-center border rounded-xl p-4 hover:bg-gray-50 transition">
          <div class="flex items-center gap-3">
            <span class="flex items-center justify-center w-9 h-9 rounded-full font-bold" [ngClass]="{
            'bg-green-100 text-green-600': t.method === 'credit',
            'bg-red-100 text-red-600': t.method === 'debit'
          }">
              {{ t.method === 'credit' ? '↓' : '↑' }}
            </span>

            <div>
              <p class="text-sm font-medium text-gray-900">
                {{ t.source }}
              </p>
              <p class="text-xs text-gray-500">
                {{ t.createdAt | date:'mediumDate' }} • {{ t.method }}
              </p>
              <p class="text-xs text-gray-400 mt-1">Txn ID: {{ t.transactionId }}</p>
            </div>

          </div>

          <!-- Right -->
          <div class="text-right">
            <div [ngClass]="{
            'text-green-600': t.method === 'credit',
            'text-red-600': t.method === 'debit'
          }" class="font-semibold">
              {{ t.method === 'credit' ? '+' : '-' }} ₹{{ t.amount | number:'1.2-2' }}
            </div>

            <div class="text-xs rounded px-2 mt-1 inline-block">
              {{ t.transactionType }}
            </div>
          </div>
        </div>

      </ng-container>

      <!-- No Transactions -->
      <ng-template #noTransactions>
        <p class="text-center text-gray-500 py-6">No transactions found</p>
      </ng-template>

    </div>

    <app-customer-pagination [pagination]="pagination()" (pageChanged)="onPageChange($event)"></app-customer-pagination>
  </div>

</div>