<div class="px-6 pt-6 pb-10 bg-gray-50 min-h-screen">

    <!-- Overview Cards Section -->
    <section class="mb-8">
        <app-admin-approval-overview></app-admin-approval-overview>
    </section>

    <!-- Filters Section -->
    <section class="bg-white rounded-xl p-6 mb-6">
        <app-admin-approval-filter></app-admin-approval-filter>
    </section>

    <section class="bg-white rounded-xl shadow p-6">
        <ng-container *ngIf="(tableData$ | async) as tableData">
           
        </ng-container>
    </section>
</div>