<div class="px-6 pt-6 pb-10 bg-gray-50 min-h-full space-y-5">

    <!-- Overview Cards Section -->
    <section class="mb-8">
        <app-admin-approval-overview></app-admin-approval-overview>
    </section>

    <!-- Filters Section -->
    <section class="bg-white rounded-lg flex justify-end w-full">
        <app-admin-approval-filter></app-admin-approval-filter>
    </section>

    <section class="bg-white rounded-xl shadow">
        <ng-container *ngIf="(tableData$ | async) as tableData">
            <!-- <app-admin-table-templpate [tableData]="tableData"></app-admin-table-templpate> -->
        </ng-container>
    </section>
</div>