<header class="bg-white shadow-md sticky top-0 z-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <!-- Left Side - Page Title -->
            <div class="flex items-center">
                <h1 class="text-lg font-semibold text-gray-800">
                    Dashboard
                </h1>
            </div>

            <!-- Right Side - Quick Actions -->
            <div class="flex items-center gap-4">

                <a [routerLink]="['subscriptions']" class="p-2 text-green-600 hover:text-green-700"
                    aria-label="Settings">
                    <i class="fa-brands fa-square-web-awesome-stroke text-2xl"></i>
                </a>

                <!-- Search -->
                <div class="relative">
                    <label for="searchInput" class="sr-only">Search</label>
                    <input id="searchInput" type="text" placeholder="Search..." aria-label="Search"
                        class="w-64 px-4 py-2 text-sm text-gray-700 bg-gray-50 rounded-md border border-gray-200 focus:outline-none focus:border-[#16A34A]" />
                    <i class="fas fa-search absolute right-3 top-2.5 text-gray-400" aria-hidden="true"></i>
                </div>

                <!-- Quick Actions -->
                <button class="p-2 text-gray-600 hover:text-gray-800 relative" aria-label="Notifications">
                    <i class="fas fa-bell" aria-hidden="true"></i>
                    <span class="absolute top-1 right-1 w-2 h-2 bg-red-500 rounded-full"></span>
                </button>
                <button class="p-2 text-gray-600 hover:text-gray-800" aria-label="Settings">
                    <i class="fas fa-cog" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</header>