<section class="relative px-12 mt-8">

    <div class="mb-4 flex justify-end">
        <app-button [buttonClass]="'px-4 py-2 bg-green-600 hover:bg-green-700 text-white text-sm rounded-lg'"
            [text]="'Add Rule'" (clicked)="openCreateModal()" [icon]="'plus'"></app-button>
    </div>

    <div class="mb-4">
        <app-provider-rule-filter></app-provider-rule-filter>
    </div>

    <section class="overflow-hidden">
        <app-provider-rule-list (editEvent)="editRule($event)"></app-provider-rule-list>
    </section>

    <!-- Only render modal when flag is true -->
    <section *ngIf="isOpenAddRuleModal"
        class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white w-full max-w-2xl max-h-[95vh] overflow-y-auto relative">
            <app-provider-slot-rule-modal (closeModalEvent)="closeModal()"
                [editableRule]="editableRule"></app-provider-slot-rule-modal>
        </div>
    </section>
</section>