<div class="fixed z-[99999] bg-[#28282B] overflow-hidden transition-all duration-300 ease-in-out"
  [class.flex]="!isMinimized" [class.flex-col]="!isMinimized" [class.w-80]="isMinimized" [class.h-48]="isMinimized"
  [class.rounded-xl]="isMinimized" [class.shadow-2xl]="isMinimized" [class.cursor-move]="isMinimized"
  [class.inset-0]="!isMinimized" [style.transform]="isMinimized ? transform : 'none'"
  (mousedown)="isMinimized && startDrag($event)">
  <!-- Shared remote video -->
  <video #remoteVideo autoplay playsinline muted disablePictureInPicture
    class="absolute inset-0 w-full h-full object-cover pointer-events-none"></video>


  <!-- Local preview -->
  <div class="absolute bottom-6 right-6 w-48 h-32 rounded-lg overflow-hidden shadow-lg border-2 border-white z-10"
    [class.hidden]="isMinimized">
    <video #localVideo autoplay playsinline muted disablePictureInPicture
      class="w-full h-full object-cover pointer-events-none"></video>
  </div>

  <!-- FULLSCREEN HEADER -->
  <div class="absolute top-0 left-0 w-full flex justify-between items-center bg-[#0066DA]/60 text-white px-6 py-3 z-20"
    [class.hidden]="isMinimized">
    <div class="flex items-center gap-3">
      <div
        class="w-10 h-10 rounded-full bg-white overflow-hidden flex items-center justify-center text-[#2684FC] font-bold">
        C
      </div>
      <span class="font-medium text-lg">Customer Support Call</span>
    </div>

    <div class="flex items-center gap-3">
      <p class="text-sm opacity-80">Live • 12:45</p>
      <button (click)="toggleMinimize()" class="hover:text-gray-200 transition">
        <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
      </button>
    </div>
  </div>

  <!-- FULLSCREEN CONTROL BAR -->
  <div
    class="absolute bottom-0 left-0 w-full h-20 bg-gray-900 bg-opacity-50 flex justify-center items-center gap-6 px-4 z-20"
    [class.hidden]="isMinimized">
    <button (click)="toggleAudioEnabling()"
      class="bg-white/20 rounded-full w-12 h-12 flex items-center justify-center shadow-md transition">
      <i class="fas" [ngClass]="{
          'fa-microphone text-white': isAudioEnabled,
          'fa-microphone-slash text-gray-500': !isAudioEnabled
        }"></i>
    </button>

    <button (click)="toggleVideoEnabling()"
      class="bg-white/20 rounded-full w-12 h-12 flex items-center justify-center shadow-md transition">
      <i class="fas" [ngClass]="{
          'fa-video text-white': isVideoEnabled,
          'fa-video-slash text-gray-500': !isVideoEnabled
        }"></i>
    </button>

    <button class="bg-white/20 rounded-full w-12 h-12 flex items-center justify-center shadow-md transition">
      <i class="fa-solid fa-display text-gray-500"></i>
    </button>

    <button (click)="endCall()"
      class="bg-[#E94235] rounded-full w-14 h-14 flex items-center justify-center shadow-lg hover:bg-red-700 transition">
      <i class="fas fa-phone text-white"></i>
    </button>
  </div>

  <!-- MINIMIZED BAR -->
  <div class="absolute bottom-2 left-0 right-0 flex justify-center items-center gap-3 px-3 z-20"
    [class.hidden]="!isMinimized">
    <button (click)="toggleAudioEnabling()"
      class="bg-white/30 rounded-full w-8 h-8 flex items-center justify-center text-sm">
      <i class="fas" [ngClass]="{
          'fa-microphone': isAudioEnabled,
          'fa-microphone-slash text-gray-300': !isAudioEnabled
        }"></i>
    </button>

    <button (click)="toggleVideoEnabling()"
      class="bg-white/30 rounded-full w-8 h-8 flex items-center justify-center text-sm">
      <i class="fas" [ngClass]="{
          'fa-video': isVideoEnabled,
          'fa-video-slash text-gray-300': !isVideoEnabled
        }"></i>
    </button>

    <button (click)="endCall()"
      class="bg-[#E94235] rounded-full w-10 h-10 flex items-center justify-center shadow-lg hover:bg-red-700 transition">
      <i class="fas fa-phone text-white text-sm"></i>
    </button>

    <button (click)="toggleMinimize()"
      class="bg-white/30 rounded-full w-8 h-8 flex items-center justify-center text-sm">
      <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
    </button>
  </div>
</div>