<div class="w-full p-8 rounded-lg shadow-sm bg-white">
    <!-- Top -->
    <div class="flex flex-col gap-2 mb-6">
        <div class="flex justify-center">
            <div class="bg-[#171717] inline-block p-3 rounded-lg shadow">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 0C12.2156 0 12.4313 0.046875 12.6281 0.135938L21.4547 3.88125C22.486 4.31719 23.2547 5.33438 23.25 6.5625C23.2266 11.2125 21.3141 19.7203 13.2375 23.5875C12.4547 23.9625 11.5453 23.9625 10.7625 23.5875C2.68596 19.7203 0.773459 11.2125 0.750021 6.5625C0.745334 5.33438 1.51408 4.31719 2.54533 3.88125L11.3766 0.135938C11.5688 0.046875 11.7844 0 12 0ZM12 3.13125V20.85C18.4688 17.7188 20.2078 10.7859 20.25 6.62813L12 3.13125Z"
                        fill="white" />
                </svg>
            </div>
        </div>

        <h1 class="font-light text-2xl text-center text-gray-800">Admin Panel</h1>
    </div>

    <!-- Form -->
    <form [formGroup]="form" class="space-y-4" (submit)="formSubmit()">
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
            <div class="relative rounded-md shadow-sm">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                    </svg>
                </div>
                <input type="email" id="email" formControlName="email"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md py-2 border"
                    placeholder="name@company.com">
            </div>
        </div>

        <div>
            <label for="password" class="block text-sm font-medium text-gray-700 mb-1">
                Password
            </label>

            <div class="relative rounded-md shadow-sm">
                <!-- left lock icon -->
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <i class="fas fa-lock text-gray-400"></i>
                </div>

                <!-- input -->
                <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                    class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-10 pr-10 sm:text-sm border-gray-300 rounded-md py-2 border" />

                <!-- toggle button -->
                <button type="button" (click)="showPassword = !showPassword"
                    class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 hover:text-gray-600">
                    <!-- show eye -->
                    <i *ngIf="!showPassword" class="fas fa-eye"></i>

                    <!-- hide eye -->
                    <i *ngIf="showPassword" class="fas fa-eye-slash"></i>
                </button>
            </div>
        </div>


        <button type="submit"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium
             text-white bg-[#171717] hover:bg-[#171717] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Sign In
        </button>
    </form>
</div>