// service-form.component.scss
:host {
  display: block;
  min-height: 100vh;
  background-color: #f9fafb;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.shadow-xs {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.hover\:shadow-md:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@keyframes glow-blink {
  0% {
    box-shadow: 0 0 10px 3px #4caf50;
  }
  50% {
    box-shadow: 0 0 0px 0px #4caf50;
  }
  100% {
    box-shadow: 0 0 10px 3px #4caf50;
  }
}

.glow-blink {
  animation: glow-blink 1s ease-in-out infinite;
}
