<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6 mb-8">
    <ng-container *ngFor="let overview of overviewTemplateItems">
        <div class="bg-white rounded-2xl shadow-md p-5 flex flex-col items-center text-center h-full">

            <!-- Icon Centered Below -->
            <div class="w-12 h-12 rounded-full flex items-center justify-center mb-3"
                [ngClass]="getIconBgColor(overview.label)">
                <i [class]="overview.icon + ' text-white text-lg'"></i>
            </div>

            <!-- Label -->
            <p class="text-sm font-medium text-gray-500 mb-1">{{ overview.label }}</p>

            <!-- Value -->
            <p class="text-3xl font-bold text-gray-900 ">{{ overview.value }}</p>

            <!-- Meta Section -->
            <div *ngIf="overview.meta" class="flex items-center text-xs text-gray-500">
                <span class="flex items-center font-medium"
                    [ngClass]="overview.meta.value >= 0 ? 'text-green-600' : 'text-red-600'">
                    <i [class]="overview.meta.icon + ' mr-1'"></i>
                    {{ overview.meta.value }}%
                </span>
                <span class="ml-2">{{ overview.meta.desc }}</span>
            </div>
        </div>
    </ng-container>
</div>