<div class="p-4">
    <div class="flex items-center justify-between mt-4 flex-wrap gap-2 w-full">
        <div class="text-sm text-gray-600">
            Showing {{ startItem }} to {{ endItem }} of {{ pagination.total }} {{title}}
        </div>

        <div class="flex items-center space-x-2">
            <!-- Prev Button -->
            <button (click)="prev()" [disabled]="currentPage === 1"
                class="px-3 py-1.5 text-sm rounded-lg border border-gray-300" [ngClass]="{
          'bg-gray-200 text-gray-400 cursor-not-allowed': currentPage === 1,
          'hover:bg-gray-100': currentPage !== 1
        }">
                Prev
            </button>

            <!-- Page Buttons with Ellipsis -->
            <ng-container *ngFor="let page of pageRange">
                <span *ngIf="page === '...'" class="px-2 text-gray-400 select-none">...</span>

                <button *ngIf="page !== '...'" (click)="goToPage(page)"
                    class="px-3 py-1.5 text-sm rounded-lg border transition-all duration-150"
                    [attr.aria-current]="currentPage === page ? 'page' : null" [ngClass]="{
            'bg-green-700 text-white border-green-700': currentPage === page,
            'text-gray-700 hover:bg-gray-100 border-gray-300': currentPage !== page
          }">
                    {{ page }}
                </button>
            </ng-container>

            <!-- Next Button -->
            <button (click)="next()" [disabled]="currentPage === totalPages"
                class="px-3 py-1.5 text-sm rounded-lg border border-gray-300" [ngClass]="{
          'bg-gray-200 text-gray-400 cursor-not-allowed': currentPage === totalPages,
          'hover:bg-gray-100': currentPage !== totalPages
        }">
                Next
            </button>
        </div>
    </div>
</div>