@tailwind base;
@tailwind components;
@tailwind utilities;

@import "notyf/notyf.min.css";
@import '../node_modules/ngx-toastr/toastr.css';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';


html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Customize notification appearance
.notyf__toast {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.notyf-success {
  --notyf-background: #4caf50;
  border-left: 4px solid green;
  color: rgb(2, 73, 2);
  padding: 0 10px;
  max-width: 800px;

  .notyf-icon-success {
    font-size: 20px;
    margin-right: 12px;
    align-self: flex-start;
    color: green;
  }

  .notyf__message {
    line-height: 1.4;
    font-size: 14px;
  }
}

.notyf-error {
  --notyf-background: #fff3f3;
  border-left: 4px solid #f44336;
  color: #5f2120;
  padding: 0 10px;
  max-width: 800px;

  .notyf-icon-error {
    color: #f44336;
    font-size: 20px;
    margin-right: 12px;
    align-self: flex-start;
  }

  .notyf__message {
    line-height: 1.4;
    font-size: 14px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

:root {
  .custom-geocoder {
    overflow: visible !important;

    .mapboxgl-ctrl-geocoder {
      width: 100% !important;
      max-width: none !important;
      position: relative !important;
      @apply bg-white rounded-lg shadow-lg border border-gray-300;

      .mapboxgl-ctrl-geocoder--input {
        @apply h-11 w-full px-4 bg-gray-100 rounded-lg text-sm border-none focus:outline-none focus:ring-2 focus:ring-indigo-500;
      }

      .mapboxgl-ctrl-geocoder--icon,
      .mapboxgl-ctrl-geocoder--button {
        display: none !important;
      }

      .mapboxgl-ctrl-geocoder--results {
        @apply mt-1 bg-white border border-gray-200 rounded-md shadow-xl w-full;
        background: red !important;
        height: 200px !important;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 260px;
        overflow-y: auto;
        z-index: 999999 !important;
      }

      .mapboxgl-ctrl-geocoder--suggestion {
        @apply px-4 py-2 text-sm cursor-pointer hover:bg-gray-100 transition-colors duration-150;
      }

      .mapboxgl-ctrl-geocoder--suggestion-active {
        @apply bg-gray-100;
      }
    }
  }
}


/* Custom container positioning */
.toast-top-offset {
  top: 30px !important;
  right: 0;
  left: 0;
  margin: auto;
  position: fixed;
  z-index: 9999;
  width: fit-content;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

/* Toast appearance & animation */
.toast-customer-custom {
  font-size: 0.85rem;
  min-width: 200px !important;
  max-width: 300px !important;
  background-color: #a5b4fc !important;
  color: #003366 !important;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 51, 102, 0.25);
  animation: slideFromTop 0.5s ease-out forwards;
}

.toast-provider-custom {
  font-size: 0.85rem;
  min-width: 200px !important;
  max-width: 300px !important;
  background-color: rgb(14, 164, 14) !important;
  color: #e8ebed !important;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 51, 102, 0.25);
  animation: slideFromTop 0.5s ease-out forwards;
}

.top-10px {
  top: 10px !important;
  right: 0;
  left: 0;
  margin: auto;
  position: fixed;
  z-index: 9999;
  width: fit-content;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.toast-custom.ng-animating.ng-leave {
  animation: slideOutToTop 0.5s ease-in forwards;
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutToTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}

/* For Chrome, Safari, Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
}

.no-number-spinner::-webkit-inner-spin-button,
.no-number-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-number-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

@layer components {
  .toggle-base {
    @apply px-4 py-1.5 text-sm font-medium rounded-full focus:outline-none transition-colors;
  }

  .toggle-active {
    @apply bg-blue-500 text-white shadow;
  }

  .toggle-inactive {
    @apply text-gray-600 hover:bg-gray-200;
  }
}