<header class="sticky flex justify-between h-14 shadow-md rounded-sm py-3 px-5 items-center bg-white">
  <!-- Breadcrumbs -->
  <div class="">
    <h1 class="font-medium text-xl text-gray-800">{{header$ | async }}</h1>
  </div>

  <div class="flex space-x-6 justify-end">
    <!-- Search Sar -->
    <div class="relative flex">
      <label for="searchInput" class="sr-only">Search</label>
      <input id="searchInput" type="text" placeholder="Search..." aria-label="Search"
        class="w-64 px-4 py-2 text-sm text-gray-700 bg-gray-50 rounded-full border border-gray-200 focus:outline-none focus:border-[#16A34A]" />
      <i class="fas fa-search absolute right-3 top-2.5 text-gray-400" aria-hidden="true"></i>
    </div>

    <!-- Navigation Icons -->
    <!-- <div class="flex justify-between min-w-36">
     
    </div> -->
  </div>
</header>