<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-screen w-screen font-inter z-50"
    style="background-image: url('assets/images/bg-auth.jpg'); background-size: cover; background-position: center; background-blend-mode: overlay;"
    id="forgotPasswordModal">
    <div class="relative top-20 mx-auto p-5 border w-[28rem] min-h-[500px] shadow-lg rounded-md bg-white">

        <ng-container *ngIf="verificationState === 'loading'">
            <div>
                <app-progress-bar></app-progress-bar>
                <p class="text-gray-700 mt-2 text-xs text-center">Please wait a moment...</p>
            </div>
        </ng-container>

        <ng-container *ngIf="verificationState === 'error'">
            <div class="flex flex-col items-center min-h-[28rem] justify-center">
                <i class="fa fa-triangle-exclamation text-red-800 text-6xl"></i>
                <p class="text-gray-600 text-center mt-4">{{errorMessage}}. Please
                    try again later.
                </p>
            </div>
        </ng-container>

        <ng-container *ngIf="verificationState === 'done'">
            <div class="flex flex-col items-center min-h-[28rem] justify-center">
                <i class="fa fa-circle-check text-green-800 text-6xl"></i>
                <p class="text-gray-600 text-center mt-4">Successfully changed password. You can login now.
                </p>
            </div>
        </ng-container>

        <div *ngIf="verificationState === 'verified'" class=" mt-3">
            <div class="text-center mb-8">
                <i class="fas fa-lock text-5xl text-blue-600 mb-4"></i>
                <h2 class="text-2xl font-bold text-gray-800 mb-2 font-poppins">Change Your Password?</h2>
            </div>

            <form [formGroup]="form" id="forgotPasswordForm" class="space-y-6" (submit)="submitForm()">
                <div class="mt-1 relative rounded-md shadow-sm">
                    <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" id="password"
                        placeholder="Enter your password" required
                        class="block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 sm:text-sm form-input pr-10" />
                    <button type="button" (click)="togglePasswordVisibility()"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500 hover:text-gray-700 focus:outline-none">
                        <i [class]="hidePassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                    </button>
                </div>

                <div class="mt-1 relative rounded-md shadow-sm">
                    <input [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword"
                        id="confirmPassword" placeholder="Enter your confirm password" required
                        class="block w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 sm:text-sm form-input pr-10" />
                    <button type="button" (click)="togglePasswordVisibility()"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500 hover:text-gray-700 focus:outline-none">
                        <i [class]="hidePassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                    </button>
                </div>
                <button type="submit"
                    class="w-full bg-blue-600 text-white py-3 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-colors duration-200 font-inter font-medium">
                    Continue
                </button>
            </form>

            <div class="mt-8 flex justify-center">
                <p class="text-md text-gray-700">Remember your password?
                    <span [routerLink]="user.type === 'customer' ? '/login' : '/login/provider'"
                        class="text-blue-600 hover:text-blue-800 cursor-pointer font-medium">Log
                        In</span>
                </p>
            </div>
        </div>
    </div>
</div>